<mat-button-toggle-group *ngIf="state$ | async as state"
    name="state"
    aria-label="state"
    [value]="state"
    (change)="update($event.value)"
>
    <mat-button-toggle value="open">
        <mat-icon matListIcon>
            adjust
        </mat-icon> Open
    </mat-button-toggle>
    <mat-button-toggle value="closed">
        <mat-icon  matListIcon class="material-symbols-outlined">
            check_circle
        </mat-icon> Closed
    </mat-button-toggle>
</mat-button-toggle-group>